@model IEnumerable<TaskCollector.Contract.Model.User>

<table class="table" id="userTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.Name)</th>
            <th>@Html.DisplayNameFor(s => s.Login)</th>
            <th>@Html.DisplayNameFor(s => s.Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="@item.Id">
            <td>@Html.ActionLink(item.Name, "Details", "User", new { id = item.Id }, new { @class = "btn-details" })</td>
            <td>@item.Login</td>
            <td>@item.Description</td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "User", new { id = item.Id }, new { @class = "btn btn-dark btn-edit" })
                @Html.ActionLink("Удалить", "Delete", "User", new { id = item.Id }, new { @class = "btn btn-dark btn-delete" })
            </td>
        </tr>
        }
    </tbody>
</table>
