@model IEnumerable<TaskCollector.Contract.Model.ClientHistory>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.Id)</th>
            <th>@Html.DisplayNameFor(s => s.Name)</th>
            <th>@Html.DisplayNameFor(s => s.Description)</th>
            <th>@Html.DisplayNameFor(s => s.Login)</th>
            <th>@Html.DisplayNameFor(s => s.MapRules)</th>
            <th>@Html.DisplayNameFor(s => s.UserId)</th>
            <th>@Html.DisplayNameFor(s => s.IsDeleted)</th>
            <th>@Html.DisplayNameFor(s => s.ChangeDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Login </td>
            <td>@item.MapRules</td>
            <td>@item.UserId</td>
            <td>@item.User</td>
            <td>@item.IsDeleted</td>
            <td>@item.ChangeDate</td>
        </tr>
        }
    </tbody>
</table>
